name: market
services:
  # Инфраструктура
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - './config/keycloak/import:/opt/keycloak/data/import'
    ports:
      - '8082:8080'
    command: start-dev --import-realm
  catalogue-db:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: catalogue
      POSTGRES_PASSWORD: catalogue
      POSTGRES_DB: catalogue
  feedback-db:
    image: mongo:7
    ports:
      - '27017:27017'
  # Сервисы
  config-server:
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: config-server/target/config-server-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/config-server:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloud
    ports:
      - '8888:8888'
  eureka-server:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: eureka-server/target/eureka-server-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/eureka-server:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8761:8761'
  admin-server:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: admin-server/target/admin-server-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/admin-server:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8085:8085'
  catalogue-service:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: catalogue-service/target/catalogue-service-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/catalogue-service:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8081:8081'
  feedback-service:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: feedback-service/target/feedback-service-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/feedback-service:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8084:8084'
  customer-app:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: customer-app/target/customer-app-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/customer-app:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8083:8083'
  manager-app:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: manager-app/target/manager-app-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/manager-app:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8080:8080'
  api-gateway:
    restart: always
    build:
      dockerfile: Dockerfile
      args:
        JAR_FILE: api-gateway/target/api-gateway-25.1.1-SNAPSHOT-exec.jar
      tags:
        - localhost:5000/market/api-gateway:25.1.1
    environment:
      SPRING_PROFILES_ACTIVE: cloudconfig
    ports:
      - '8086:8086'