server:
  port: 8084
spring:
  application:
    name: market-feedback-service
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      uri: http://config:config-password@host.docker.internal:8888